
.content-wrapper {
  margin-left: 1rem;
  max-width: 1000px;
}


.form-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
}


.form-section-title {
  position: absolute;
  top: -0.75rem;
  left: 1rem;
  background-color: #fff;
  padding: 0 0.5rem;
  font-weight: 500;
  color: #333;
  font-size: 0.95rem;
}


input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.border-success {
  border: 2px solid #28a745 !important;
}

.border-danger {
  border: 2px solid #dc3545 !important;
}
