<div class="content-wrapper">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div class="shipment-id">
      <strong>Shipment ID:</strong> {{ selectedShipmentId ?? "---" }}
    </div>

    <button
      class="btn btn-sm btn-primary"
      *ngIf="isManager"
      (click)="onNewShipmentClick()"
      [disabled]="!canCreate"
    >
      <i class="bi bi-plus"></i> New Shipment
    </button>
  </div>

  <div class="form-box p-4 mb-4">
    <div class="form-section-title">Income & Outcome</div>

    <form [formGroup]="form" (ngSubmit)="onSubmitClick()">
      <div class="row">
        <div class="col-md-4">
          <label>Income</label>
          <input
            type="number"
            formControlName="income"
            class="form-control"
            [readonly]="readonly"
            (focus)="form.get('income')?.value === 0 ? form.get('income')?.setValue(null) : null"
          />
        </div>

        <div class="col-md-4">
          <label>{{ readonly ? "Total Cost" : "Cost" }}</label>
          <input
            type="number"
            formControlName="cost"
            class="form-control"
            [readonly]="readonly"
            (focus)="form.get('cost')?.value === 0 ? form.get('cost')?.setValue(null) : null"
          />

          <div *ngIf="!readonly">
            <label class="mt-2">Additional Cost</label>
            <input
              type="number"
              formControlName="additionalCost"
              class="form-control"
              (focus)="form.get('additionalCost')?.value === 0 ? form.get('additionalCost')?.setValue(null) : null"
            />
          </div>
        </div>

        <div class="col-md-4 d-flex align-items-end">

          <button *ngIf="!readonly" type="submit" class="btn btn-primary w-100">
            Calculate
          </button>

    
          <input
            *ngIf="readonly && calculatedProfit !== null"
            type="text"
            class="form-control"
            [ngClass]="{
              'border-success': calculatedProfit > 0,
              'border-danger': calculatedProfit < 0
            }"
            [value]="calculatedProfit"
            readonly
          />
        </div>
      </div>
    </form>

    <div *ngIf="errorMessage" class="text-danger mt-2">{{ errorMessage }}</div>
  </div>
</div>
